body {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}

.container {
    width: 375px;
    max-width: 375px;
    height: 811px;
    max-height: 811px;
    margin: 3rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: rgba(236, 230, 219, 255) url(./background.png) no-repeat center center;
    background-size: 1700px 1300px;
    text-align: center;
}

p {
    font-size: 16px;
    font-weight: normal;
    width: 250px;
    margin-left: 60px;
}

.container,
.form_input,
.form_button {
    font: 20px 'Quicksand', Calibri;
    font-weight: bold;
}
.form-hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form_title {
    margin: 2rem 2rem 0 0;
    padding-top:100px;
    text-align: center;
    width: 100%;
}

.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message--success {
    color: #4bb544;
}

.form_message--error {
    color: #cc3333;
}

.form_input-group {
    margin-bottom: 1rem;
    display: flex;
}

label{
    margin-right:10px;
    margin-left:20px;
    width: 100%;
    text-align: left;
}

.form_input {
    object-fit: fill;
    text-align: left;
    max-height:36px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    background: #ece6db;
    transition: background 0.2s, border-color 0.2s;
    margin-right: 20px;
}

.form_select {
    width:100%;
    text-align: left;
    max-height:36px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    background: #ece6db;
    transition: background 0.2s, border-color 0.2s;
    margin-right: 20px;
}

.form_input:focus {
    border-color: black;
    background: #ffffff;
}

.form_input--error {
    color: #cc3333;
    border-color: #cc3333;
}

.form_input-error-message {
    color: #cc3333;
}

.form_button {
    width: 236px;
    margin:10px;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 34px;
    color: #ECE6DB;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background: #03989e;
}

.form_button:hover {
    background: #028085;
}

.form_button:active {
    transform: scale(0.98);
}

.form_back {
    height: 65px;
    width: 146px;
    margin:10px;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 34px;
    color: #ECE6DB;
    border: solid black 1px;
    border-radius: 30px;
    outline: none ;
    cursor: pointer;
    background: #a7b0a7;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

#forgotpasswordEnter{
    width: 146px;
    height: 65px;
    margin-bottom: 188px;
    text-align: center;
}

.form_back:hover {
    background: #969E96;
}

.form_back:active {
    transform: scale(0.98);
}

.form_text {
    text-align: center;
}

h2{
    padding: 50px 0 0 0;
    margin:0;
}
