/* ----------Header Styles-------------*/
.flexContainer {
	float: left;
    flex-direction: column;
}

.flexContainer2 {
	float: right;
    flex-direction: column;
}

/* ----put in flexbox */


/* ----------Navigation Styles------------- */
nav {
	background-color: #03989E;
	padding: 1px ;
	width: 100%;	
	min-width: 400px;	
}

nav li {
	display: inline-block;
	padding: 0.5%;
}

nav li a {
	text-decoration: none;
    color: #ffffff;
}

/* Style the links inside the navigation bar */
nav a {
	color: #fefee3ff;
	text-align: centre;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.1.rem;
}

/* Add a color to the active/current link */
/* <a class="active" ...> */
nav a.active {
	background-color: #117478;
	color:  #ffffff;
	margin: 0.5rem;


}

/* Change the color of links on hover */
nav a:hover {
	background-color: #20d7dd;
    color: #ffffff;
	padding: 1rem;
}


/* ---------------Body Styles----------------- */
body {
	max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
    background-color: #ECE6DB;

}

h2 {
    color: #ffffff;
    border: 3px solid #03989E;
    background-color: #03989E;
}

h3 {
    color: #ffffff;
    border: 2px solid #03989E;
    background-color: #03989E;
}

.button {
    border: 3px solid #03989E;
    background-color: #03989E;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
}

.pictures {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

p.reminders{
    color: #ffffff;
    border: 1px solid #03989E;
    background-color: #03989E;
    padding: 5px;
    text-align: center;
    display: inline;

}


/* ---------------Main Styles----------------- */
main {
	background-color: #ffffff;
    padding-bottom: 20px;
}

/* ----------------Form Styles---------------- */
input {
	margin-bottom: 5px;
}

